#gallery {
	position: relative;
	overflow: hidden;
	height: 380px;
}

.preview {
    position: relative;
	width: 640px;
}

.preview img {
	max-width: 640px;
}

.preview img.proper {
    position: absolute;
    top: 0;
}

ul.thumbs {
	position: absolute;
	bottom: -70px;
    left: 50px;
    width: 100%;
	list-style: none;
	padding: 0;
}

ul.thumbs li {
	position: relative;
	float: left;
	margin: 0 -30px;
}


ul.thumbs li:nth-child(3n+1) a {
	transform: rotate(15deg);
}

ul.thumbs li img {
	max-width: 100px;
	background: #252525;
	padding: 5px;
	border: 1px solid #444;
}

ul.thumbs li a {
	display: block;
	height: 110px;

	backface-visibility: hidden;
	transform: rotate(-15deg);
	transition: margin .2s, transform .3s;
}

ul.thumbs li a:hover {
	margin-top: -50px;
	padding-top: 5px;

	transform: rotate(0deg);
	transition: margin .3s, transform .3s, padding .2s .3s;
	transition-delay: 0.1s;
}
ul.thumbs li :hover + {
	pointer-events: none;
}

@keyframes out {
	0% 	{ opacity: 1; }
	100% { opacity: 0; }
}

.out {
	animation: out 1s;
	z-index: 1;
}